body {
    background-image: url('lupin.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-size: 1.2rem;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
  }
.playwrite-cu {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.playfair-display> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  article {
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }
  .container {
    max-width: 70vw;
    padding: 3vh;
  }
  .frontpage-box {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .link {
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 2vw;
    border-radius: 25%;
    text-align: center;
    flex-shrink: 1;
  }
  .frontpage-box a {
    font-family: 'Playfair Display', serif;
    color: #d6a058;
    transition-duration: 450ms;
  }
  .frontpage-box a:hover {
    font-family: 'Playfair Display', serif;
    color: #fad591;
  }
  .content-box {
    text-align: justify;   
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    line-height: 5vh;
    padding: 5vw 8vw 5vw 8vw;
    font-size: 1.1rem;
    color: #000;
  }
  .content-box h1 {
    font-family: 'Playfair Display', serif;
    line-height: 2rem;
    font-size: 2.5rem;
    color: #594d3d;
    margin-top: 2vh;
  }
  .graphics-box {
    background-image: url('filmi.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    height: 45vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }
  .title-box {
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 5vh;
  }
  .title-box h1 {
    font-family: 'Playwrite CU', cursive;
    color: #d6a058;
    font-size: 3em;
    margin: 0px;
    font-weight: normal;
  }
  footer {
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    font-family: 'Playwrite CU', cursive;
    color: #d6a058;
    text-align: center;
    padding: 5vh;
    bottom: 0;
    position: relative;
    font-size: 1.1rem;
  }
  @media only screen and (max-width: 768px) {
    .link {
        padding: 4vw;
        flex-shrink: 1;
      }
  }
  