.playwrite-cu {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
.playfair-display {
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
}
body {
    background-image: url('lupin.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-size: 1.2rem;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
  }
  article {
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }
  .container {
    max-width: 70vw;
    margin: 0 auto;
  } 
  .container2 {
    padding-top: 12vh;
    max-width: 70vw;
    margin: 0 auto;
  }
  .container3 {
    width: 100%;
    margin: 0 auto;
  } 
  .frontpage-box {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .link {
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 2vw;
    border-radius: 25%;
    text-align: center;
    flex-shrink: 1;
  }
  .link2 {
    background: none;
    box-sizing: border-box;
    padding: 2vw;
    text-align: center;
    flex-shrink: 1;
  }
  .frontpage-box a {
    font-family: 'Playfair Display', serif;
    color: #d6a058;
    transition-duration: 350ms;
  }
  .frontpage-box a:hover {
    font-family: 'Playfair Display', serif;
    color: #ffd769;
  }
  .navigation {
    width: 100vw;
    height: 12vh;
    background-color: rgba(0,0,0,0.9);
    box-sizing: border-box;
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    z-index: 1;
  }
  .navigation a {
    font-family: 'Playfair Display', serif;
    color: #d6a058;
    transition-duration: 350ms;
  }
  .navigation a:hover {
    font-family: 'Playfair Display', serif;
    color: #ffd769;
  }
  .content-box {
    text-align: justify;   
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 7vh;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    line-height: 5vh;
    padding: 4vw 6vw 4vw 6vw;
    font-size: 1.1rem;
    color: #000;
  }
  .content-box h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    color: #594d3d;
    margin-top: 2vh;
  }
  .content-box h3 {
    font-family: 'Playwrite CU', serif;
    font-size: 1rem;
    color: #594d3d;
    margin-top: 2vh;
  }
  .graphics-box {
    background-image: url('filmi.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    height: 50vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  .title-box {
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 8vh;
  }
  .title-box h1 {
    font-family: 'Playwrite CU', cursive;
    color: #d6a058;
    font-size: 3.3em;
    margin: 0px;
    font-weight: normal;
  }
  .page-heading {
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
  .page-heading h1 {
    font-family: 'Playwrite CU', cursive;
    color: #d6a058;
    font-size: 2em;
    margin: 0px;
    font-weight: normal;
  }
  form {
    box-sizing: border-box;
    background: transparent;
    padding: 2vw !important;
    background-color: rgba(0,0,0,0.7) !important; 
 }
 label {
    font-family: 'Playfair Display', serif;
    font-size: 1em !important;
    color: #d6a058 !important;   
    margin-bottom: 1vh;
 }
.form-control {
    background-color: rgba(255,255,255,0.8) !important;
    border-radius: 8px !important; /* Rounded corners */
    box-sizing: border-box !important;
    padding: 2vw !important;
    margin: 0px !important;
    box-shadow: none !important; /* Remove Bootstrap's shadow on focus */
    font-family: 'Playfair Display', serif;
}
.btn {
    background-color: #d6a058 !important;
    font-size: 1em !important;
    font-family: 'Playfair Display', serif;
    text-transform: none !important;
    margin-top: 2vh;
}
  footer {
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    font-family: 'Playwrite CU', cursive;
    color: #d6a058;
    text-align: center;
    padding: 5vh;
    margin-bottom: 0px;
    position: relative;
    font-size: 1.3rem;
  }
  @media only screen and (max-width: 768px) {
    .link {
        padding: 4vw;
        flex-shrink: 1;
      }
    .graphics-box {
        height: 40vh;
        margin-top: 2vh;
        margin-bottom: 7vh;
      }
      .title-box {
        margin-top: 10vh;
      }
      .navigation {
        padding: 2vh;
      }
      .container2 {
        padding-top: 12vh;
        max-width: 90vw;
        margin: 0 auto;
      }
  }
  